body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    color: white;
    background-color: black;
    height: 100vh;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.content .settings {
    flex: 1 1 0;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-wheel-text {
    text-align: center;
    margin: 0;
    padding: 0;
}

input[type="color"] {
    align-self: center;
    width: 100px;
    height: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid lawngreen;
}

button {
    background-color: transparent;
    color: lawngreen;
    border: 2px dotted lawngreen;
    padding: 5px;
    border-radius: 5px;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #000;
    outline: none;
    border: 2px solid lawngreen;
    border-radius: 8px;
  }
  
  
/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 2px dotted lawngreen;
    border-radius: 10px;
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 2px dotted lawngreen;
    border-radius: 10px;
}

#slider-value {
    align-self: center;
    margin: 0;
    padding: 0;
}

/* DRAWING SCREEN */
.drawing-screen {
    display: grid;
}